md-toolbar.home{
    background-color: rgb(0, 0, 0);
    color: rgba(255,255,255,0.87);
}

.homewrapper{
	height: 900px;

	/*background-color: red;*/
	background-image: url('../img/homebg.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}
.container {
	margin: 300px 0px 100px 0px;
	text-align: center;
	color: #fff;


}

.container h1 {
	text-shadow: 2px 2px 4px #000000;
}

a.md-button.md-raised-shop, .md-button.md-raised-shop {
	margin: 100px 50px 100px 50px;
	background-color: #fff;
	color: rgb(253, 58, 0);
	/*border-color: rgb(253, 58, 0);*/
	/*border: solid;*/
	font-weight: 700;
	font-size: 1.5rem;
	padding: 10px 50px 10px 50px;
}

#main{
	background-color: rgb(253, 58, 0);
	color: rgba(255,255,255,0.87);
}
a.md-button.md-raised-sell, .md-button.md-raised-sell {
	margin: 100px 20px 100px 20px;
	background-color: rgb(253, 58, 0);
	color: #fff;
	/*border-color: rgb(253, 58, 0);*/
	/*border: solid;*/
	font-weight: 700;
	font-size: 1.5rem;
	padding: 10px 50px 10px 50px;
}
.md-raised {
	margin: 10px 10px 200px 20px;
	padding: 20px 100px 10px 100px;
}


.cropArea {
    background: #E4E4E4;
    overflow: hidden;
    width:500px;
    height:350px;
}
form .progress {
    line-height: 15px;
}
.progress {
    display: inline-block;
    width: 100px;
    border: 3px groove #CCC;
}
.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

#shop{
	margin: 50px 100px 10px 100px;
}

#sell{
	margin: 50px 100px 10px 100px;
}

md-input-container {
	width: 700px;
}

md-card{
	width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}