<div class="homewrapper">
<!-- The top toolbar -->
 <md-toolbar class="home">
   <div class="md-toolbar-tools">
     <md-button class="md-icon-button" aria-label="Settings">
       <!-- <md-icon md-svg-icon="bower_components/material-design-icons/maps/svg/design/ic_local_airport_24px.svg"></md-icon> -->
     </md-button>
     <h2>
       <span class="md-title">Africa Express!</span>
     </h2>
   </div>
 </md-toolbar>
 <div class="container">
 	
 	<h1>The #1 open-source marketplace for buying and selling african goods</h1></br>
	<md-button class="md-raised-shop"><a href="https://github.com/ctodmia/africaexpress">SHOP</a></md-button>
	<md-button class="md-raised-sell"><a href="https://github.com/ctodmia/africaexpress">SHOP</a></md-button>

 </div>



	
 </div>