<div class="homewrapper">
<!-- The top toolbar -->
 <md-toolbar class="home">
   <div class="md-toolbar-tools">
     <md-button class="md-icon-button" aria-label="Settings">
       <md-icon md-svg-icon="./bower_components/material-design-icons/maps/svg/design/ic_local_airport_24px.svg"></md-icon>
     </md-button>
     <h2>
       <span class="md-title">Africa Express!</span>
     </h2>
   </div>
 </md-toolbar>
 <div class="container">
 	
 	<h3></h3>
	<md-button class="md-raised" ui-sref="shop">SHOP </md-button>
	<md-button class="md-raised" ui-sref="sell">SELL </md-button>

 </div>



	<md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
 <ng-md-icon icon="add"></ng-md-icon>
 </md-button>
 </div>