 <md-toolbar class="main">
   <div class="md-toolbar-tools">
     <md-button class="md-icon-button" aria-label="Settings">
      <!--  <md-icon md-svg-icon="bower_components/material-design-icons/maps/svg/design/ic_local_airport_24px.svg"></md-icon> -->
     </md-button>
     <h2>
       <span class="md-title">Africa Express!</span>
     </h2>
     <ul>
     	<li><a href="https://github.com/ctodmia">About</a></li>
     	<li><a ui-sref="shop">Shop</a></li>
     	<li><a ui-sref="sell">Sell</a></li>
     </ul>
   </div>
 </md-toolbar>

<div id="sell" layout="row">

<div class="input-container" flex="50">
<md-input-container>
  <label>Username</label>
  <input type="text" ng-model="username">
</md-input-container>
<md-input-container>
  <label>Image Url (please provide http:// url of the image) </label>
  <input ng-model="picture">
</md-input-container>
<md-input-container>
  <label>Item Name</label>
  <textarea ng-model="name"></textarea>
</md-input-container>
<md-input-container>
  <label>Description</label>
  <textarea ng-model="description"></textarea>
</md-input-container>
<md-input-container>
  <label>Price</label>
  <input ng-model="price">
</md-input-container>
<md-input-container>
  <label>Buy Now Link</label>
  <input ng-model="buylink">
</md-input-container>

</div>

<div flex="50">

<h3>Live Preview</h3>
<p>This is a live preview of how your card will look to the general public</p>
<div layout="row">
	<md-card flex="50">

	 <img ng-src="{{picture || 'img/placeholder.png'}}" class="md-card-image" alt="image caption">
	 <md-card-content >
	   <p class="username">Sold by: {{username}}</p>
	   <h2 class="title">{{name}}</h2>
	   <p class="description">{{description}}</p>
	   <p class="price">{{price}}</p>
	 </md-card-content>
	 <md-card-actions layout="row" layout-align="left center">
	   <md-button class="md-raised-success"><a href="{{buylink}}" target="_blank">Buy Now</a></md-button>
	 </md-card-actions>
	</md-card>
	<div flex="50">
		<md-button class="md-raised-sell" ng-click="add()" ng-show="fileadded">Add</md-button>

		<div  ng-show="!fileadded">
			<h2>Your item was added!</h2>
			<p>Your item was added to the public marketplace for purchasing. Would you to add another item or view all items on sale.</p>
			<div layout="row">
				<md-button ng-click="addAnother()" class="md-raised-sub">Add more items</md-button> or 
				<md-button ui-sref="shop" class="md-raised-success">View All Items</md-button>
			</div>
		</div>
	</div>
</div>

</div>
</div>
