 <md-toolbar class="main">
   <div class="md-toolbar-tools">
     <md-button class="md-icon-button" aria-label="Settings">
      <!--  <md-icon md-svg-icon="bower_components/material-design-icons/maps/svg/design/ic_local_airport_24px.svg"></md-icon> -->
     </md-button>
     <h2>
       <span class="md-title">Africa Express!</span>
     </h2>
     <ul>
     	<li><a href="https://github.com/ctodmia">About</a></li>
     	<li><a ui-sref="shop">Shop</a></li>
     	<li><a ui-sref="sell">Sell</a></li>
     </ul>
   </div>
 </md-toolbar>

<div id="sell" layout="row">

<div flex="60">
<md-input-container>
  <label>Username</label>
  <input type="text" ng-model="username">
</md-input-container>
<md-input-container>
  <label>Item Name</label>
  <textarea ng-model="name"></textarea>
</md-input-container>
<md-input-container>
  <label>Description</label>
  <textarea ng-model="description"></textarea>
</md-input-container>
<md-input-container>
  <label>Price</label>
  <input ng-model="price">
</md-input-container>
<md-input-container>
  <label>Buy Now Link</label>
  <input ng-model="buylink">
</md-input-container>
<md-input-container>
  <label>Image Url</label>
  <input ng-model="picture">
 <!--     <center>
          <img class="img-circle img-responsive" width="250" height="250" ng-src="{{picture || 'https://placehold.it/100x100'}}">
        </center> -->
</md-input-container>
</div>

<div flex="30">

<form name="myForm">
        <div>Crop Image and Upload</div>
        <button ngf-select ng-model="picFile" accept="image/*">
            Select Picture</button>
           <!-- <form action="/photos/upload" method="post"> -->
          <!--  <label>Grab a pictures</label>
           	<input type="file" ng-model="picFile" action="/photos/upload" method="post"> -->
           <!-- </form> -->
        <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
             class="cropArea">
            <img-crop image="picFile  | ngfDataUrl"                 
            result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
            </img-crop>
        </div>
        <div>
            <img ng-src="{{croppedDataUrl}}" />
        </div>
        <button ng-click="upload(croppedDataUrl)">Submit</button> 
            
        <span class="progress" ng-show="progress >= 0">
          <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>
        <span ng-show="result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </form>






<md-card>
 <img ng-src="{{picture || 'https://placehold.it/100x100'}}" class="md-card-image" alt="image caption">
 <md-card-actions layout="row" layout-align="end center">
   <md-button>I want this!</md-button>
   <md-button>Buy Now</md-button>
 </md-card-actions>
 <md-card-content>
   <h2>{{username}}</h2>
   <p>{{description}}</p>
 </md-card-content>
</md-card>
<button ng-click="add()">Add</button>

</div>
