 <md-toolbar class="main">
   <div class="md-toolbar-tools">
     <md-button class="md-icon-button" aria-label="Settings">
      <!--  <md-icon md-svg-icon="bower_components/material-design-icons/maps/svg/design/ic_local_airport_24px.svg"></md-icon> -->
     </md-button>
     <h2>
       <span class="md-title">Africa Express!</span>
     </h2>
     <ul>
      <li><a href="https://github.com/ctodmia">About</a></li>
      <li><a ui-sref="shop">Shop</a></li>
      <li><a ui-sref="sell">Sell</a></li>
     </ul>
   </div>
 </md-toolbar>


<div id="shop">
<ul>
<li ng-repeat="item in allItems">
<md-card>

 <img ng-src="{{item.picture || 'img/placeholder.png'}}" class="md-card-image" alt="image caption">
   <md-card-content >
     <p class="username">Sold by: {{item.username}}</p>
     <h2 class="title">{{item.itemname}}</h2>
     <p class="description">{{item.description}}</p>
   </md-card-content>
   <md-card-actions layout="row" layout-align="left center">
     <a href="{{buylink}}" target="_blank"><md-button class="md-raised-success">Buy Now | {{item.price | currency}}</md-button></a>
   </md-card-actions>
</md-card>
<!-- <md-card>
 <img ng-src="{{item.picture}}" class="md-card-image" alt="image caption">
 <md-card-actions layout="row" layout-align="end center">
   <md-button>I want this!</md-button>
   <md-button>Buy Now</md-button>
 </md-card-actions>
 <md-card-content>
   <h2>{{item.itemname}}</h2>
   <p>{{item.description}}</p>
 </md-card-content>
</md-card> -->
</li>
</ul>
</div>
